@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'open_sansregular';src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),url('../fonts/opensans-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'open_sansbold';src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),url('../fonts/opensans-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}

.clear { clear:both;}
#wpulist_frm_response {font-family: 'open_sansregular' !important;font-size: 15px;text-align: center; color:#fff}
.titlebox { background:white; padding:33px 22px;}
.thme3 {background-repeat:no-repeat; background-color:#5d1382; background-size: cover;border: solid 0px #ccc;width: 100%;display: block;padding: 18px;border-radius: 0px;}
.thme3 .title{font-family: 'open_sansbold' !important;color: #fff;font-size: 45px;text-align: center;margin: 0;font-weight: normal;margin-top: 9px;text-transform: none;line-height: 52px;}
.thme3 .title span{ color:#d5a933 !important;}
.thme3 .title strong{ color:#2f79e2}
.thme3 .h1bighed { font-size:45px !important;font-family: 'open_sansregular' !important;}
.thme3 .bdtext{font-family: 'open_sansregular' !important; color:#fff;font-size: 17px;margin-bottom: 0px;line-height: 25px;margin-top: 0px;padding:43px 5px 28px; text-align:left}
.thme3 .bdtext p{font-family: 'open_sansregular' !important; color:#fff;font-size: 16px;line-height: 25px;margin-bottom: 12px; text-align:left}
.thme3 .frmbutton{background:#ee438d;font-family: 'open_sansregular' !important;color: #fff;font-size: 18px;line-height: 31px;cursor: pointer;width: 70%; border: solid 0px #b64c94;font-weight: normal;padding: 6px 25px;white-space: normal;text-transform: none;}
.thme3 input{width: 70%;padding: 6px 10px;font-size: 18px;font-family: 'open_sansregular' !important;display: block;margin: 0 auto 13px;border: solid 0px #08a194;float: none; color: #000;margin-left: auto;border-radius: 0px;background:#fff;}
.disclaimer {font-family: 'open_sansregular' !important;text-align: center;color: #fff;margin: 0px 0 22px;font-size: 10px;}
.thme3 input::-webkit-input-placeholder {
   color: #8a8a8a;
   font-family: 'open_sansregular' !important;
}

.thme3 input:-moz-placeholder { /* Firefox 18- */
   color: #8a8a8a;  
   font-family: 'open_sansregular' !important;
}

.thme3 input::-moz-placeholder {  /* Firefox 19+ */
   color: #8a8a8a; 
   font-family: 'open_sansregular' !important;
}

.thme3 input:-ms-input-placeholder {  
   color: #8a8a8a;  
   font-family: 'open_sansregular' !important;
}

.thme3 .left {float: left;width: 51%;margin-top: 0px;margin-right: 5px;padding: 17px;}
.thme3 .right {float: right;width:47%;text-align: center;}
.frmbtm { background:#c02632;padding: 15px;text-align: center;}

@media (min-width:768px) {
	
}

@media (max-width: 630px) {
.thme3 .left {float: none !important;margin: 0 auto !important;}
.thme3 .right {display: none;}	
.thme3 .left {width: 240px;width: 86%;text-align: center;padding-top: 2px;}	
.thme3 .title{text-align: center;margin-top: 10px !important;}
.thme3 input {width: 92%;}
.thme3 .frmbutton{width: 92%;}
.thme3 .h1bighed {    line-height: 54px !important;}
}

@media (max-width: 460px) {
	
	
}

@media (max-width: 700px) {

	
}
