@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'open_sansregular';src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),url('../fonts/opensans-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'open_sansbold';src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),url('../fonts/opensans-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}

.clear { clear:both;}
#wpulist_frm_response {font-family: 'open_sansregular' !important;font-size: 15px;text-align: center; color:#0c0118}
.titlebox { background:white; padding:33px 22px;}
.thme49 {background-repeat:no-repeat; background-color:#ef0751; background-size: cover;border: solid 0px #ccc;width: 100%;display: block;padding: 18px;border-radius: 0px;}
.thme49 .title{font-family: 'open_sansbold' !important;color: #ef0751;font-size: 42px;text-align: center;margin: 0;font-weight: normal;margin-top: 9px;text-transform: none;line-height: 52px;}
.thme49 .title span{ color:#d5a933 !important;}
.thme49 .title strong{ color:#2f79e2}
.thme49 .h1bighed { font-size:45px !important;font-family: 'open_sansregular' !important;}
.thme49 .bdtext{font-family: 'open_sansregular' !important; color:#0c0118;font-size: 17px;margin-bottom: 0px;line-height: 25px;margin-top: 0px;padding:13px 5px 28px; text-align:center}
.thme49 .bdtext p{font-family: 'open_sansregular' !important; color:#0c0118;font-size: 16px;line-height: 25px;margin-bottom: 12px; text-align:center}
.thme49 .frmbutton{background:#ef0751;font-family: 'open_sansregular' !important;color: #fff;font-size: 18px;line-height: 31px;cursor: pointer;width:70%; border: solid 0px #b64c94;font-weight: normal;padding: 6px 25px;white-space: normal;text-transform: none;}
.thme49 input{width: 70%;padding: 6px 10px;font-size: 18px;font-family: 'open_sansregular' !important;display: block;margin: 0 auto 13px;border: solid 0px #b64c94;float: none; color: #ef0751;margin-left: auto;border-radius: 0px;background:#fff;}
.disclaimer {font-family: 'open_sansregular' !important;text-align: center;color: #0c0118;margin: 0px 0 22px;font-size: 15px;}
.thme49 input::-webkit-input-placeholder {
   color: #ef0751;
   font-family: 'open_sansregular' !important;
}

.thme49 input:-moz-placeholder { /* Firefox 18- */
   color: #ef0751;  
   font-family: 'open_sansregular' !important;
}

.thme49 input::-moz-placeholder {  /* Firefox 19+ */
   color: #ef0751; 
   font-family: 'open_sansregular' !important;
}

.thme49 input:-ms-input-placeholder {  
   color: #ef0751;  
   font-family: 'open_sansregular' !important;
}

.thme49 .left {float: left;width:47%;text-align: center;}
.right {float: right;width: 52%;margin-top: 0;margin-left: 5px;padding: 47px 17px;}
.frmbtm { background:#c02632;padding: 15px;text-align: center;}

@media (min-width:768px) {
	
}

@media (max-width: 630px) {
.thme49 .left {display: none;}
.thme49 .right {float: none !important;margin: 0 auto !important;}	
.thme49 .right {width: 240px;width: 86%;text-align: center;padding-top: 2px;background-color: rgba(239, 7, 81, 0.6);}	
.thme49 .title{text-align: center;margin-top: 10px !important; color:white;}
.thme49 input {width: 92%;}
.thme49 .frmbutton{width: 92%;}
.thme49 .h1bighed {line-height: 54px !important;}
.thme49 .bdtext p { color:white;}
.disclaimer {color:white;}
}

@media (max-width: 460px) {
	
	
}

@media (max-width: 700px) {

	
}
